/* Containers */
.container_list-form {
    width: 400px;
}
.container_form-elements {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* Elements */
.element_input-field {
    padding: 10px;
    background-color: #f5f8fa;
    border: 1px #000 solid;
    border-radius: 5px;
    font-size: 16px;
    color: #353434;
    letter-spacing: 4px;
    margin: 5px 5px;
}

.element_form-button {
    display: block;
    max-width: 368px;
    padding: 10px;
    font-size: 16px;
    border: 1px #000 solid;
    border-radius: 5px;
    color: #353434;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: center;
    letter-spacing: 4px;
}
.element_form-button:hover {
    border: 1px 000 solid;
    color: #2b2b2b;
    background-color: #dee0e0;
}