/* Globals */
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Containers */
.container_app {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_header {
    text-align: center;
}