/* Containers */
.container_result-list {
    border: 1px #000 solid;
    border-radius: 5px;
    max-width: 390px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container_result-item {
    display: flex;
    column-count: 2;
    margin:5px;
    border: 1px transparent solid;
    border-radius: 5px;
    background-color: #f5f8fa;
}
.container_result-item-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
}
/* Elements */
.element_result-item-number {
    font-size: 20px;
    color: #000;
    width: 75px;
    padding: 10px;
    font-weight: bold;
}